aws_region   = "eu-central-1"
project_name = "devops-hub-platform"
vpc_cidr     = "10.0.0.0/16"
db_username  = "platform_admin"
db_password  = "change-me"

# ECR repositories for microservices
ecr_repository_names = [
  "api-gateway",
  "auth-service",
  "profile-service",
  "media-service",
  "notification-service"
]

# GitHub OIDC trust configuration
github_oidc_role_name = "devops-hub-github-actions-role"
github_repositories   = ["EdmonAtoyan/devopshub"]
github_branch         = "main"
